/* Author: Nathan Adams */
:root {
  color: #b3b6aa;
  hyphens: auto;
  text-align: center;
  /* background-color: #353d42; */
  background: linear-gradient(135deg, #353d42, #2b2e33 60%, #353d42);
}

::selection {
  color: #dbdbdb;
  background-color: #486b63;
}

/* for firefox */
::-moz-selection {
  color: #dbdbdb;
  background-color: #486b63;
}